<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Amara</title>

    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="color/default.css" rel="stylesheet" />

</head>

<body>

    <div id="wrapper">

        <header>
            {{template "header" .}}
        </header>

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="inner-heading">
                            <h2>Про готель</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container">
                <div class="row">

                    <div class="span12">
                        <h4>Готель</h4>
                        <p>
                            Готель AMARA, отримав свою назву від грецького слова AMARANTOS, що означає «Нев'янучий», пропонує своїм гостям незабутні панорамні види, завдяки яким ви відкриєте для себе нові обрії. Від лобі до бару, від ресторанів під керівництвом мішленівські шеф-кухарі
                            Нобу Мацухіса і Джордж Локателлі до персонального каскадного басейну і кожного номера готелю - звідусіль відкривається панорамний вид на море. Запрошуємо вас в подорож за мрією, нев'янучої, постійно змінюється і невловимий.
                        </p>
                        <div style="text-align: center;">
                            <img src="img/amara_about_photos1.jpg">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="span12">
                        <div class="solidline"></div>
                    </div>
                </div>

                <div class="row">

                    <div class="span12">
                        <h4>Проживання</h4>
                        <p>
                            Кожен номер ретельно продуманий і має виключний дизайн для унікального комфорту. Готель Amara спроектований так, щоб ви могли відкрити для себе нові обрії. Вище за все ми цінуємо комфорт і зручність, і саме тому кожен номер оснащений звукоізоляційним
                            покриттям для підлоги, забезпечує тишу і спокій, атмосферне автоматизоване освітлення, завісками з електроприводом, бездротової системи управління освітленням і високоякісною системою кондиціонування повітря.
                        </p>
                        <div style="text-align: center;">
                            <img src="img/amara_about_photos2.jpg">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="span12">
                        <div class="solidline"></div>
                    </div>
                </div>

                <div class="row">

                    <div class="span12">
                        <h4>Ресторани та бари</h4>
                        <p>
                            Обслуговування найвищого класу - це головний принцип нашого готелю. Кожен ресторан має власний винятковий стиль, втілений за допомогою освітлення, музики, кольорів і текстур
                        </p>
                        <div style="text-align: center;">
                            <img src="img/amara_about_photos3.jpg">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="span12">
                        <div class="solidline"></div>
                    </div>
                </div>

                <div class="row">

                    <div class="span12">
                        <h4>Спа</h4>
                        <p>
                            Для тих, хто прагне відновити свої фізичні і душевні сили, спа-центр готелю amara пропонує широкий вибір холистичних процедур і терапій carita, виконуваних досвідченими професіоналами. Крім того, до ваших послуг кваліфікований консультант з харчування,
                            а також персональний тренер, який проводить приватні заняття в повністю обладнаному тренажерному залі. Ви можете скористатися послугами перукарні, барбершопа, нейл-бару і фитобара.
                        </p>
                        <div style="text-align: center;">
                            <img src="img/amara_about_photos4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer>
            {{template "footer" .}}
        </footer>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.js"></script>


</body>

</html>